<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
      <h1>Generic Title</h1>
      <br>
      {{{body}}}
  </body>
</html>