<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conspiro</title>

<!--FONT --->
    <link rel="stylesheet" href="./public/style.css">

<!--CSS --->

<!--INSET CSS-->

<!--Scripts --->


 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 


<!--Layout --->

  </head>
  <body>
    <div class="app">
      <h1 class="title">Welcome to Conspiro</h1>
      <a class="nav" href="/">Home</a>
      {{{body}}}
    </div>
  </body>
</html>











