<div id="container">

<p class='intro'><strong>{{intro}}</strong></p>
<p id='the-conspiracy'><strong>{{ noun }} {{conspiracy}} {{object}}</strong></p>


</div>


<form action="/">
<button type="submit" class="btn btn-danger btn-lg">Home</button>
</form>