<div id="container">

<p class='intro'><strong>{{intro}}</strong></p>
<p id='the-conspiracy'><strong>{{ noun }} {{conspiracy}} {{object}}</strong></p>


</div>



<button type="submit" class="btn btn-danger btn-lg"><a href='/'>Home</a></button>
