<div id="container">

Start your own conspiracy:

<form action="/{{ noun }}" accept-charset="UTF-8" method="post">

  <input placeholder="{{ noun }}" type="text" name="noun" value="{{ noun }}"/>
  <input id="submit" type="submit" name="commit" value="Submit"/>

</form>


</div>

